<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Trio</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <div class="logo" onclick="location.href='/'">Java Trio Bros</div>
        <div>
            <button onclick="location.href='/signin'">Sign in</button>
            <button onclick="location.href='/signup'">Sign up</button>
            <button onclick="location.href='/runner'">Runner</button>
        </div>
    </header>

    <div class="sidebar">
        <h2>Java Tutorial</h2>
        <button onclick="location.href='/ifelse'">Java if-else</button>
        <button onclick="location.href='/boolean'">Java boolean</button>
        <button onclick="location.href='/forloop'">Java for loop</button>
        <button onclick="location.href='/array'">Java arrays</button>
        <button onclick=openModal()>Java quiz</button>
        <button onclick=openMaze()>Game (demo)</button>
        <button onclick=aboutMaze()>About game</button>
        <script src="script.js"></script>
    </div>

    <div class="text">
        <h2>For Loop in Java</h2>
        <p>In Java, a for loop is a control flow statement that allows you to execute a block of code multiple times with a specified condition. The for loop consists of three main parts: the initialization, the condition, and the iteration statement. These parts are separated by semicolons within the for loop declaration.</p>
        <p>The initialization is where a loop control variable is declared and initialized. The condition is an expression that is evaluated before each loop iteration. If the condition evaluates to true, the code block within the loop is executed; otherwise, the loop is terminated. The iteration statement updates the loop control variable after each iteration, typically incrementing or decrementing it.</p>
        <p>Here is a basic example of a for loop in Java:</p>
        <pre><code>
            for (int i = 0; i < 10; i++) {
                System.out.println("Iteration: " + i);
            }
        </code></pre>
        <p>In the example above, the loop control variable 'i' is initialized to 0, the condition is 'i < 10', and the iteration statement is 'i++' (which increments 'i' by 1). The loop will continue to execute as long as 'i' is less than 10. As a result, the loop will print the numbers 0 through 9.</p>
        <p>For loops are particularly useful when you need to perform an action a specific number of times or when you need to iterate through elements in an array or a collection. They provide a concise and clear way to manage iterations and help prevent errors related to manual loop control.</p>
    </div>

    <div class="quiz">
        
    </div>

    <script src="script.js"></script>

</body>
</html>