<html>
    <head> 
        <title>Trio Bros</title>
    </head>
    <body>
        <h2>Welcome to Java Trio Bros Learner App!</h2>
        <p>Kao Vue, Mengkun Du, and Shijun Yang</p>
        <hr>
        <p>
            <h3>Our vision</h3>
            For students or Java beginners who want to learn Java efficiently and with more interests.<br>
            The Java Trio Bro Learner App is a software that interactive and beginner friendly.<br>
            Unlike many other apps and websites that is either too specific or static, our Product wants students to learn java by having fun and without being frustrated.<br>
        </p>
        <p>
            <h3>Our class diagram</h3>
            <img src="/images/diagram.png" alt="Class Diagram" width="700">
        </p>
        <p>
            <h3>
                <a href="/signin">Sign in</a>
                &emsp;
                <a href="/signup">Sign up</a>
                &emsp;
                <a href="/update">Update</a>
            </h3>
        </p>
    </body>
</html>