<html>
    <head> 
        <title>Trio Bros</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <h2>Welcome to Java Trio Bros Learner App!</h2>
        <p>Kao Vue, Mengkun Du, and Shijun Yang</p>
        <hr>

        <h3 th:text="${message}"></h3>

        <h3>
            <a href="/signin">To sign in</a>
            <br>
            <a href="/signup">To sign up</a>
            <br>
            <a href="/home">To home page</a>
        </h3>
        
    </body>
</html>