<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Trio</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <div class="logo" onclick="location.href='/'">Java Trio Bros</div>
        <div>
            <button onclick="location.href='/signin'">Sign in</button>
            <button onclick="location.href='/signup'">Sign up</button>
            <button onclick="location.href='/runner'">Runner</button>
        </div>
    </header>

    <div class="text">
        <h2 th:text="${message}"></h2>
    </div>
        
</body>
</html>