<html>
    <head>
        <title>Online Portal</title>
    </head>
    <body>
        <h2>Welcome to Java Trio Bros Learner App!</h2>
        <p>Kao Vue, Mengkun Du, and Shijun Yang</p>
        <hr>

        <h3>Please enter your email and password to sign in:</h3>
        <form action="#" th:action="@{/signin}" method="post">
            <p id="email">
                Email: <input type="text" th:object="${guest}" th:field="*{email}" />
            </p>
            <p id="password">
                Password: <input type="password" th:object="${guest}" th:field="*{password}" />
            </p>
            <p id="button">
                <input type="submit" value="Submit" />
                <input type="reset" value="Reset" />
            </p>
        </form>
        <hr>

        <h3>
            <a href="/signin">To sign in</a>
            <br>
            <a href="/signup">To sign up</a>
            <br>
            <a href="/home">To home page</a>
        </h3>

    </body>
</html>