<html>
    <head>
        <title>Online Portal</title>
    </head>
    <body>
        <h2>Welcome to Java Trio Bros Learner App!</h2>
        <p>Kao Vue, Mengkun Du, and Shijun Yang</p>
        <hr>

        <h3>Please enter the following information to sign up:</h3>
        <form action="#" th:action="@{/signup}" method="post">
            <p id="email">
                Email: <input type="text" th:object="${newUser}" th:field="*{email}" />
                (should be unique)
            </p>
            <p id="password">
                Password: <input type="password" th:object="${newUser}" th:field="*{password}" />
                (at least 6 characters)
            </p>
            <p id="name">
                Name: <input type="text" th:object="${newUser}" th:field="*{name}" />
            </p>
            <p id="button">
                <input type="submit" value="Submit" />
                <input type="reset" value="Reset" />
            </p>
        </form>
        <hr>

        <h3>
            <a href="/home">To home page</a>
        </h3>

    </body>
</html>