<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Trio</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <div class="logo" onclick="location.href='/'">Java Trio Bros</div>
        <div>
            <button onclick="location.href='/signup'">Sign up</button>
            <button onclick="location.href='/runner'">Runner</button>
        </div>
    </header>

    <div class="text">
        <h3>Please enter your email and password to sign in:</h3>
        <form action="#" th:action="@{/signin}" method="post">
            <p id="email">
                Email: <input type="text" th:object="${guest}" th:field="*{email}" />
            </p>
            <p id="password">
                Password: <input type="password" th:object="${guest}" th:field="*{password}" />
            </p>
            <p id="button">
                <input type="submit" value="Submit" />
                <input type="reset" value="Reset" />
            </p>
        </form>
    </div>

</body>
</html>