<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Trio</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <div class="logo" onclick="location.href='/'">Java Trio Bros</div>
        <div>
            <button onclick="location.href='/signin'">Sign in</button>
            <button onclick="location.href='/runner'">Runner</button>
        </div>
    </header>

    <div class="text">
        <h2>Please enter the following information to sign up:</h2>
        <form action="#" th:action="@{/signup}" method="post">
            <p id="email">
                Email: <input type="text" th:object="${newUser}" th:field="*{email}" />
                (should be unique)
            </p>
            <p id="password">
                Password: <input type="password" th:object="${newUser}" th:field="*{password}" />
                (at least 6 characters)
            </p>
            <p id="name">
                Name: <input type="text" th:object="${newUser}" th:field="*{name}" />
            </p>
            <p id="button">
                <input type="submit" value="Submit" />
                <input type="reset" value="Reset" />
            </p>
        </form>
    </div>

</body>
</html>