<html>
    <head>
        <title>Trio Bros</title>
    </head>
    <body>
        <h2>Welcome to Java Trio Bros Learner App!</h2>
        <p>Kao Vue, Mengkun Du, and Shijun Yang</p>
        <hr>

        <h3>Enter "all" to delete all students</h3>
        <form action="#" th:action="@{/update}" method="post">
            <p id="email">
                Delete by email: <input type="text" name="emailInput" />
                <span id="button">
                    <input type="submit" value="Delete" />
                    <input type="reset" value="Reset" />
                </span>
            </p>
        </form>
        <hr>

        <a href="/results">View all users</a>
        <br>
        <a href="/home">Return to home page</a>

    </body>
</html>