<html>
    <head> 
        <title>Trio Bros</title>
    </head>
    <body>
        <h2>Welcome to Java Trio Bros Learner App!</h2>
        <p>Kao Vue, Mengkun Du, and Shijun Yang</p>
        <hr>

        <h3>Hello <span th:text="${myUser.getName()}"></span>!</h3>
        <p>Your username is <span th:text="${myUser.getEmail()}"></span></p>

        <p>Your note is</p>
        <textarea rows="5" cols="50" th:text="${myUser.getNote()}"></textarea>
        <hr>

        <h3>
            <a href="/update">To update profile</a>
            <br>
            <a href="/home">To home page</a>
        </h3>
        
    </body>
</html>