<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Trio</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="logo" onclick="location.href='/'">Java Trio Bros</div>
        <div>
            <button onclick="location.href='/signin'">Sign in</button>
            <button onclick="location.href='/signup'">Sign up</button>
        </div>
        
    </header>

    <div class="text">
        <h2>Hello <span th:text="${guest.getName()}"></span>!</h2>
        <p>Your current email is <span th:text="${guest.getEmail()}"></span></p>
        <hr>
        <h3>Update Profile</h3>
        <p>
            <em>If you do not wish to change your email or password, please leave it blank.</em>
        </p>
        <form action="#" th:action="@{/update}" method="post">
            <input type="hidden" th:object="${guest}" th:field="*{email}" />
            <p>
                <label>Old password (required): </label>
                <input type="password" th:object="${guest}" th:field="*{password}" />
            </p>
            <p>
                <label>New name: </label>
                <input type="text" th:object="${guest}" th:field="*{name}" />
            </p>
            <p>
                <label>New email: </label>
                <input type="text" th:object="${guest}" th:field="*{newEmail}" />
                (should be unique)
            </p>
            <p>
                <label>New password:</label>
                <input type="password" th:object="${guest}" th:field="*{newPassword}" />
                (at least 6 characters)
            </p>
            
            
            <p id="button">
                <input type="submit" value="Update" />
                <input type="reset" value="Reset" />
            </p>
        </form>
        <hr>
        <h3>Delete Account</h3>
        <form action="#" th:action="@{/delete}" method="post">
            <input type="hidden" th:object="${guest}" th:field="*{email}" />
            <p>
                <label>Old password (required): </label>
                <input type="password" th:object="${guest}" th:field="*{password}" />
            </p>
            
            <p id="button">
                <input type="submit" value="Delete" />
                <input type="reset" value="Reset" />
            </p>
        </form>
    </div>

</body>
</html>